<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>

    <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" th:rel="stylesheet">
</head>

<body>

<div class="container">
    <form action="/login" class="form-signin" method="POST">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group ${error != null ? 'has-error' : ''}">
            <div style="color:red;margin:10px 0px;"
                 th:if="${#request.getParameter('error') == 'true'}">
                Login Failed!!!<br/>
                Reason :
                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

            </div>
            <input autofocus="true" class="form-control" name="username" placeholder="Username"
                   type="text"/>
            <input class="form-control" name="password" placeholder="Password" type="password"/>
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration">Create an account</a></h4>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</body>
</html>